h2 {
    text-transform: none;
}
article section.page div.content div.highlight pre {
    display: block;
    white-space: pre-wrap;
    overflow: inherit !important; }
article section.page div.content div.highlight pre code {
    color: inherit !important;
    font-size: 95%;
    display: block;
    line-height: 1.2em;
    padding: 10px;
    border: 0px;
    font-weight: inherit;
    background-color: inherit; }
article section.page div.content > div.highlight pre code {
    margin-left: 1.5rem;
    margin-right: -1.5rem; }